<!DOCTYPE>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="imagetoolbar" content="no" />
    <meta name="robots" content="noindex,nofollow" />
    <link href="{{ asset('bundles/excexcel/css/error.css') }}" rel="stylesheet" />

    <title>Nothing found for  404</title>

</head>

    <body class="login">
        <div class="error_page">
            <img  src="{{ asset('bundles/excexcel/images/404error.gif') }}" />
            <h1>We're sorry...</h1>
            <p>The page you are looking for cannot be found.</p>
            <p><a href="{{ path('homepage') }}">Return to the homepage</a></p>
        </div>
    </body>
</html>