{% block form_row %}
    {% spaceless %}
        <div class="form_row">
            {{ form_label(form) }}
            <div class=" sonata-ba-field sonata-ba-field-standard-natural  ">
                {{ form_errors(form) }}
                {{ form_widget(form) }}
            </div>
        </div>
    {% endspaceless %}
{% endblock form_row %}