Привет,

Прошу предоставить мне ({{ userName }}) {{ timeOff.type }} с {{ timeOff.startDate|date('Y-m-d') }} по {{ timeOff.endDate|date('Y-m-d') }}
Комментарий {{ timeOff.reason }}

Click link to see more: {{ url('admin_exc_command_timeoff_edit', {'id': timeOff.id}) }}
