Привет,

Твой  {{ timeOff.type }} с {{ timeOff.startDate|date('Y-m-d') }} по {{ timeOff.endDate|date('Y-m-d') }}.

Комментарий: {{ timeOff.comment }}

Статус: {% if timeOff.status == constant('STATUS_APPROVED', timeOff) %}Approved{% elseif timeOff.status == constant('STATUS_NOT_APPROVED', timeOff) %}Not approved{% endif %}

Изменил: {{ managerName }}


