{% extends "ExcExcelBundle::layout.html.twig" %}

{% form_theme form 'ExcExcelBundle:Form:fields.html.twig' %}

{% block body %}
    <link rel="stylesheet" href="{{ asset('bundles/excexcel/css/timeOffForm.css') }}"/>
    <script src="{{ asset('bundles/excexcel/js/addTimeOff.js') }}" type="text/javascript"></script>

    <div class="container" style="margin-top:30px">
        <div class="col-md-12">
            <div class="modal-dialog" style="margin-bottom:0">
                <div class="modal-content">
                    <div class="panel-heading">
                        <h3 class="panel-title">New Holiday</h3>
                    </div>
                    <div class="panel-body">
                        <form action="#" method="post" {{ form_enctype(form) }}>
                            <fieldset>
                                {{ form_errors(form) }}

                                <div class="form-group">
                                    {{ form_row(form.type) }}
                                </div>
                                <div class="form-group">
                                    {{ form_row(form.startDate) }}
                                </div>
                                <div class="form-group">
                                    {{ form_row(form.endDate) }}
                                </div>
                                <div class="form-group">
                                    {{ form_row(form.reason) }}
                                </div>

                                {{ form_rest(form) }}

                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <hr>

    </div>

    <script type="text/javascript">

        $(document).ready(function() {

            $( "#addTimeOff_type" ).change(function() {
                var timeOfTime = {{ time_off_type|json_encode|raw }};
                for (var i in timeOfTime) {
                    if (timeOfTime[i].id == $(this).val()) {
                        $("#addTimeOff_reason").val(timeOfTime[i].defaultText);
                    }
                }
            });
        });

    </script>

{% endblock %}
