{% extends "ExcExcelBundle::layout.html.twig" %}

{% block body %}

    <div class="container" style="margin-top:30px">
        <a class="btn btn-primary" href="{{ url('admin_exc_command_timeoff_list') }}" role="button">list Time Off</a>
        <a class="btn btn-primary" href="{{ url('admin_exc_command_timeoff_create') }}" role="button">Create Time Off</a>
    </div>

{% endblock %}