{% extends "ExcExcelBundle::layout.html.twig" %}

{% block stylesheets %}
    {{ parent() }}

    <style>

        @media only screen and (max-width: 800px) {

            /* Force table to not be like tables anymore */
            #no-more-tables table,
            #no-more-tables thead,
            #no-more-tables tbody,
            #no-more-tables th,
            #no-more-tables td,
            #no-more-tables tr {
                display: block;
            }

            /* Hide table headers (but not display: none;, for accessibility) */
            #no-more-tables thead tr {
                position: absolute;
                top: -9999px;
                left: -9999px;
            }

            #no-more-tables tr { border: 1px solid #ccc; }

            #no-more-tables td {
                /* Behave  like a "row" */
                border: none;
                border-bottom: 1px solid #eee;
                position: relative;
                padding-left: 50%;
                white-space: normal;
                text-align:left;
            }

            #no-more-tables td:before {
                /* Now like a table header */
                position: absolute;
                /* Top/left values mimic padding */
                top: 6px;
                left: 6px;
                width: 45%;
                padding-right: 10px;
                white-space: nowrap;
                text-align:left;
                font-weight: bold;
            }

            /*
            Label the data
            */
            #no-more-tables td:before { content: attr(data-title); }
        }

    </style>


{% endblock %}

{% block body %}

    <div class="container">
        <div class="row">
            <div id="no-more-tables">

                {% if pagination.getTotalItemCount %}
                    <table class="col-md-12 table-bordered table-striped table-condensed cf">
                        <thead class="cf">
                        <tr>
                            <th>Type</th>
                            <th>Reason</th>
                            <th>Start Date</th>
                            <th>End Date</th>
                            <th>Status</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for timeoff in pagination %}
                            <tr>
                                <td>{{ timeoff.type.title }}</td>
                                <td>{{ timeoff.reason }}</td>
                                <td>{{ timeoff.startDate|date('Y-m-d') }}</td>
                                <td>{{ timeoff.endDate|date('Y-m-d') }}</td>
                                <td>
                                    {% if timeoff.status == constant('STATUS_PENDING', timeoff) %}
                                        Pending
                                    {% elseif timeoff.status == constant('STATUS_APPROVED', timeoff) %}
                                        Approved
                                    {% else %}
                                        Not Approved
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    {# display navigation #}
                    <div class="navigation">
                        {{ knp_pagination_render(pagination) }}
                    </div>
                {% else %}
                    <div class="col-md-12">
                        <h1 class="text-center">
                            List of Time off is empty.
                        </h1>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>

{% endblock %}