#addTimeOff_startDate {
    width: 262px;
    height: 34px;
}

#addTimeOff_endDate {
    width: 262px;
    height: 34px;
}

#addTimeOff_reason {
    width: 500px;
    height: 80px;
}

#addTimeOff_type {
    width: 262px;
}

.createTimeOff-link {
    margin: 0 auto 20px;
    width: 50px;
}


.col-md-6 {
    margin: 10px auto 20px;
    width: 100%;
}

.btn {
    display: block;
}

.well well-small form-actions {
    margin: 30px 0 0 0;
}

.form_row {
    margin: 0 0 10px 0;
}

div.select2-container {
    margin-left: 0 !important;
    width: 262px !important;
}

.form-group input {
    width: 262px;
}

.form-group textarea {
    width: 500px;
}

#form_file {
    margin: 0 0 10px
}

.emptyTimeOff {
    margin: 0 auto 20px;
    width: 100%;
    text-align: center;
}