{% extends "ExcExcelBundle::layout.html.twig" %}

{% block body %}

    <div class="container">
        <div id="loginbox" style="margin-top:50px;" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
            <div class="panel panel-info" >
                <div class="panel-heading">
                    <div class="panel-title">Sign In Report</div>
                    <div style="float:right; font-size: 80%; position: relative; top:-10px"><a href="{{ url('exc_excel_reset_password') }}">Forgot password?</a></div>
                </div>

                <div style="padding-top:30px" class="panel-body" >

                    {% if error %}
                        <div id="login-alert" class="alert alert-danger col-sm-12">{{ error.message }}</div>
                    {% endif %}

                    <form action="{{ path("exc_excel_admin_login_check") }}" method="post" id="loginform" class="form-horizontal" role="form">

                        <div style="margin-bottom: 25px" class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                            <input id="username" type="text" class="form-control" name="_username" value="{{ last_username }}" placeholder="Username or Email">
                        </div>

                        <div style="margin-bottom: 25px" class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                            <input id="password" type="password" class="form-control" name="_password" placeholder="password">
                        </div>

                        <div class="input-group">
                            <div class="checkbox">
                                <label>
                                    <input id="login-remember" type="checkbox" name="_remember_me" value="1"> Remember me
                                </label>
                            </div>
                        </div>

                        <div style="margin-top:10px" class="form-group">

                            <div class="col-sm-12 controls">
                                <button type="submit" class="btn btn-primary">Login</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </div>

{% endblock body %}