{% extends base_template %}

{% block title %}
    {% if admin.id(object) is not null %}
        {{ "title_edit"|trans({'%name%': admin.toString(object)|truncate(15) }, 'SonataAdminBundle') }}
    {% else %}
        {{ "title_create"|trans({}, 'SonataAdminBundle') }}
    {% endif %}
{% endblock%}

{% block navbar_title %}
    {{ block('title') }}
{% endblock %}

{% block actions %}
    <li>{% include 'SonataAdminBundle:Button:show_button.html.twig' %}</li>
    <li>{% include 'SonataAdminBundle:Button:history_button.html.twig' %}</li>
    <li>{% include 'SonataAdminBundle:Button:acl_button.html.twig' %}</li>
    <li>{% include 'SonataAdminBundle:Button:list_button.html.twig' %}</li>
    <li>{% include 'SonataAdminBundle:Button:create_button.html.twig' %}</li>
{% endblock %}

{% block tab_menu %}{{ knp_menu_render(admin.sidemenu(action), {'currentClass' : 'active'}, 'list') }}{% endblock %}

{% import "SonataAdminBundle:CRUD:base_edit_form_macro.html.twig" as form_helper %}
{% use 'SonataAdminBundle:CRUD:base_edit_form.html.twig' with form as parentForm %}

{% block form %}

    {{ block('parentForm') }}

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">

        function generationPassword() {
            var password = Math.random().toString(36).slice(-8);
            $('form [id $="_plainPassword"][type=password]').val(password);
            $('#password_generation_text').html('');
            $('#generationButton').after('<span id="password_generation_text">' + password + '</span>');
        }

        $(document).ready(function() {
            $('form [id $="_plainPassword"][type=password]').after('<br /><button type="button" id="generationButton" class="btn btn-success" onclick="generationPassword();" name="btn_update_and_edit"><i class="fa fa-save"></i> Generation</button>');
        });

    </script>
{% endblock %}