{% extends 'ExcExcelBundle::layout.html.twig' %}

{% block body %}

    <div class="container">
        <a class="btn btn-primary" href="{{ url('exc_excel_account_login') }}" role="button">Login Page</a>
    </div>

{% endblock %}