{% form_theme form 'ExcExcelBundle:Form:fields.html.twig' %}

{% extends 'ExcExcelBundle::layout.html.twig' %}

{% block body %}

    <div class="container" style="margin-top:30px">
        <div class="col-md-12">
            <div class="modal-dialog" style="margin-bottom:0">
                <div class="modal-content">
                    <div class="panel-heading">
                        <h3 class="panel-title">New Password</h3>
                    </div>
                    <div class="panel-body">
                        <form action="#" method="post" {{ form_enctype(form) }}>
                            <fieldset>
                                {{ form_errors(form) }}

                                <div class="form-group">
                                    {{ form_row(form.oldPassword) }}
                                </div>
                                <div class="form-group">
                                    {{ form_row(form.password.first) }}
                                </div>
                                <div class="form-group">
                                    {{ form_row(form.password.second) }}
                                </div>

                                {{ form_rest(form) }}

                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <hr>

    </div>

{% endblock %}