{% extends 'SonataAdminBundle::standard_layout.html.twig' %}

{% block sonata_left_side %}

{% endblock sonata_left_side %}

{% block javascripts %}
    {{ parent() }}

    <script type="text/javascript">

        $(document).ready(function() {
            $('.left-side').toggleClass("collapse-left");
            $(".right-side").toggleClass("strech");
        });

    </script>

{% endblock %}