<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    {% block stylesheets %}
        <link href="{{ asset('bundles/excexcel/css/login.css') }}" rel="stylesheet" />
        <link href="{{ asset('bundles/sonatacore/vendor/bootstrap/dist/css/bootstrap.min.css') }}" rel="stylesheet" />
    {% endblock %}

    {% block javascript %}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js" type="text/javascript"></script>
        <script src="{{ asset('bundles/sonatacore/vendor/bootstrap/dist/js/bootstrap.min.js') }}" type="text/javascript"></script>
    {% endblock %}

</head>
<body>
<div>

    <nav id="myNavbar" class="navbar navbar-default" role="navigation">
        <div class="container">
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li class="dropdown">
                        <a href="#" data-toggle="dropdown" class="dropdown-toggle">Holiday <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="{{ url('exc_excel_account_timeoff_create') }}">Create time off</a></li>
                            <li><a href="{{ url('exc_excel_account_timeoff_list') }}">My list of holidays</a></li>
                        </ul>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a href="#" data-toggle="dropdown" class="dropdown-toggle">User <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="{{ url('exc_excel_new_password') }}">New Password</a></li>
                            <li class="divider"></li>
                            <li><a href="{{ url('exc_excel_admin_logout') }}">logout</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    {% block body %}
    {% endblock body %}
</div>
</body>
</html>