{% extends base_template %}



{% block title %}{{ 'title_dashboard'|trans({}, 'SonataAdminBundle') }}{% endblock%}
{% block breadcrumb %}{% endblock %}
{% block content %}

    {{ sonata_block_render_event('sonata.admin.dashboard.top', { 'admin_pool': admin_pool }) }}

    <div class="row" xmlns="http://www.w3.org/1999/html">
        <div class="col-md-6 report-menu">
            <h4>Generate a report:</h4>
            <a href="{{ url('sonata_admin_upload', {'type': constant('Exc\\CommandBundle\\Entity\\User::WEEKLY_REPORT')}) }}" class="btn btn-success">Weekly</a>
            <a href="{{ url('sonata_admin_upload', {'type': constant('Exc\\CommandBundle\\Entity\\User::MONTHLY_REPORT')}) }}" class="btn btn-primary">Monthly</a>
        </div>
    </div>

    {% if blocks.top|length > 0 %}
        <div class="row">
            {% for block in blocks.top %}
                <div class="{{ block.class }}">
                    {{ sonata_block_render({ 'type': block.type, 'settings': block.settings}) }}
                </div>
            {% endfor %}
        </div>
    {% endif %}

    <div class="row">
        {% set has_center = false %}

        <div class="{% if blocks.center|length > 0 %}col-md-4{% else %}col-md-6{% endif %}">
            {% for block in blocks.left %}
                {{ sonata_block_render({ 'type': block.type, 'settings': block.settings}) }}
            {% endfor %}
        </div>

        {% if blocks.center|length > 0 %}
            <div class="col-md-4">
                {% for block in blocks.center %}
                    {{ sonata_block_render({ 'type': block.type, 'settings': block.settings}) }}
                {% endfor %}
            </div>
        {% endif %}

        <div class="{% if blocks.center|length > 0 %}col-md-4{% else %}col-md-6{% endif %}">
            {% for block in blocks.right %}
                {{ sonata_block_render({ 'type': block.type, 'settings': block.settings}) }}
            {% endfor %}
        </div>
    </div>

    {% if blocks.bottom|length > 0 %}
        <div class="row">
            {% for block in blocks.bottom %}
                <div class="{{ block.class }}">
                    {{ sonata_block_render({ 'type': block.type, 'settings': block.settings}) }}
                </div>
            {% endfor %}
        </div>
    {% endif %}



    {{ sonata_block_render_event('sonata.admin.dashboard.bottom', { 'admin_pool': admin_pool }) }}

{% endblock %}
