{% block user_block %}

    <li role="presentation">
        <a role="menuitem" tabindex="-1" href="{{ url('exc_excel_new_password') }}">New Password</a>
    </li>

    <li role="presentation">
        <a role="menuitem" tabindex="-1" href="{{ url('exc_excel_manager_page') }}">Manager Page</a>
    </li>

    <li role="presentation" class="divider"></li>

    <li role="presentation">
        <a role="menuitem" tabindex="-1" href="{{ url('exc_excel_admin_logout') }}">Logout</a>
    </li>
{% endblock %}