{% extends 'SonataAdminBundle::standard_layout.html.twig' %}

{% block breadcrumb %}
    <li><a href="{{ url('sonata_admin_dashboard') }}">{% trans %}Dashboard{% endtrans %}</a></li>
    <li class="active">
        <span>Generate a {{ type }} report</span>
    </li>
{% endblock %}

{% block content %}

    <div class="container">
        <div id="loginbox" style="margin-top:50px;" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
            <div class="panel panel-info" >
                <div class="panel-heading">
                    <div class="panel-title">Generate a {{ type }} report</div>
                </div>

                <div style="padding-top:30px" class="panel-body" >

                    <form action="#" method="post" {{ form_enctype(form) }} class="form-horizontal" role="form">

                        <div style="margin-bottom: 25px" class="input-group">
                            {{ form_widget(form) }}
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock %}