{% if object.status == constant('STATUS_NOT_APPROVED', object) %}
    {% set st = 'btn btn-danger' %}
{% else %}
    {% set st = 'btn btn-default' %}
{% endif %}

<p><a data-toggle="modal" class="{{ st }}" href="#myModal" >Decline</a></p>

<input type="hidden" value="{{ admin.generateObjectUrl('declined', object) }}" id="urlDeclined" />

<div class="modal" id="myModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">Comment</h4>
            </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="InputMessage">Message</label>
                        <div class="input-group">
                            <textarea name="InputMessage" id="InputMessage" class="form-control" rows="5" required></textarea>
                            <span class="input-group-addon"><i class="glyphicon glyphicon-ok form-control-feedback"></i></span></div>
                    </div>
                </div>
                <div class="modal-footer">
                    <a href="#" data-dismiss="modal" class="btn">Close</a>
                    <a class="btn btn-primary" onclick="return newComment();" >Save changes</a>
                </div>
        </div>
    </div>
</div>

<script type="text/javascript">

    $(document).ready(function() {

        $('#openBtn').click(function(){
            $('#myModal').modal({show:true})
        });
    });

    function newComment() {

        if ($('#InputMessage').val() != '') {
            var url = $('#urlDeclined').val() + "?comment=" + $('#InputMessage').val();

            location.href = url;
        }else {
            alert('Please fill out a comment');
        }

        return false;
    }

</script>