{% if object.status == constant('STATUS_APPROVED', object) %}
    {% set st = 'btn btn-success' %}
{% else %}
    {% set st = 'btn btn-default' %}
{% endif %}

<br /><br /><p><a class="{{ st }}" href="{{ admin.generateObjectUrl('approved', object) }}">Approve</a></p>